<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Nudgespot_Magento>
            <version>0.1.1</version>
        </Nudgespot_Magento>
    </modules>
    <global>
        <models>
            <nudgespot>
                <class>Nudgespot_Magento_Model</class>
            </nudgespot>
        </models>
        <helpers>
            <nudgespot>
                <class>Nudgespot_Magento_Helper</class>
            </nudgespot>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <nudgespot module="nudgespot">
                    <file>nudgespot.xml</file>
                </nudgespot>
            </updates>
        </layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <nudgespot_order_save>
                        <type>singleton</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackOrder</method>
                    </nudgespot_order_save>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <nudgespot_customer_register_from_checkout>
                        <type>singleton</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackCustomerFromCheckout</method>
                    </nudgespot_customer_register_from_checkout>
                </observers>
            </sales_order_place_before>
            <customer_register_success>
                <observers>
                    <nudgespot_customer_register_success>
                        <type>model</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackCustomerRegisterSuccess</method>
                    </nudgespot_customer_register_success>
                </observers>
            </customer_register_success>
            <checkout_cart_add_product_complete>
              <observers>
                <nudgespot_add_to_cart>
                  <type>singleton</type>
                  <class>Nudgespot_Magento_Model_Observer</class>
                  <method>trackAddToCart</method>
                </nudgespot_add_to_cart>
              </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
              <observers>
                <nudgespot_add_to_cart>
                  <type>singleton</type>
                  <class>Nudgespot_Magento_Model_Observer</class>
                  <method>trackAddToCart</method>
                </nudgespot_add_to_cart>
              </observers>
            </checkout_cart_update_items_after>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <nudgespot_add_coupon_from_cart>
                        <type>singleton</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackCoupon</method>
                    </nudgespot_add_coupon_from_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <nudgespot_add_coupon>
                        <type>singleton</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackCoupon</method>
                    </nudgespot_add_coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <review_controller_product_init_after>
                <observers>
                    <nudgespot_product_review>
                        <type>singleton</type>
                        <class>Nudgespot_Magento_Model_Observer</class>
                        <method>trackReview</method>
                    </nudgespot_product_review>
                </observers>
            </review_controller_product_init_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nudgespot>
                                            <title>Nudgespot Settings</title>
                                        </nudgespot>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
